html {
  /*height: 800px;
  max-width: 1200px;*/
}

body {
  display: flex;
  justify-content: center;
  /*background-color: lightyellow;*/
  margin: 10px;
  /*height: 600px;
  width: 1300px;*/
  /*max-width: 1200px;*/
}

canvas {
  display: block;
  background-image: url('images/back1.png');
  border: 5px solid black;
  /*max-height: 600px;
  height: 600px;*/
  /*max-width: 1000px;*/
  background-size: cover;
  opacity: 0.9;
  margin: 30px;
}

#right-user-column {
  margin: 30px;
}

.input-placeholder {
  max-width: 150px;
  height: 180px;
  border: 1px solid lightgrey;
  margin-top: 20px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}

.user-input {
  font-size: 20px;
  height: 250px;
  border: 0px;
  font-size: 22px;
}

#user-input {
  display: flex;
  justify-content: center;
}

#img-nums {
  max-height: 250px;
  background: red;
  margin-top: 4px;
}

.user-input-button {
  width: 100px;
  height: 50px;
  border: 2px solid black;
  background-color: lightgreen;
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

#wrapped-keep-try-button {
  width: 400px;
  text-align: right;
}

#next-level {
  width: 400px;
  text-align: right;
}



.keep-try-button {
  width: 120px;
  background-color: lightgrey;
  height: 50px;
  border-radius: 5px;
  font-size: 19px;
}

#button-run {
  width: 80%;
  text-align: center;
}

#image {
  width: 150px;
  height: 150px;
}

#prev-inserted-code {
  /*margin: 35px;*/
  width: 120px;
  height: 200px;
  font-size: 28px;
  color: grey;
}

#prev-inserted-header {
  display: flex;
  justify-content: center;
  width: 400px;
  font-size: 25px;
  border: 1px solid lightgrey;
  color: black;
  height: 50px;
  background-color: lightgreen;
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

}

.outer-prev-inserted-code {
  display: flex;
  justify-content: center;
}


.modal {
    display: none;
  }
  .modal.is-active {
    display: block;
  }
  .modal-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
  }
  .modal-content {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 50px;
    margin-left: -250px;
    transform: translateY(-50%);
    background: white;
    border-radius: 5px;
  }
  .modal-close {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: gray;
  }
  .modal-close:hover {
    color: black;
  }

  #yeah-image {
    width: 350px;
    height: 200px;
  }

  #lose-image {
    width: 350px;
    height: 200px;
  }

  .main-page-user-input-header {
    text-align: center;
    font-size: 23px;
    background-color: lightgreen;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    height: 100px;
    width: 100%;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 10px;
  }

  ::-webkit-input-placeholder {
      font-size: 19px;
      color: lightgrey;
   }
   :-moz-placeholder {
     font-size: 19px;
     color: lightgrey;
   }
   ::-moz-placeholder {
     font-size: 19px;
     color: lightgrey;
   }
   :-ms-input-placeholder {
     font-size: 19px;
     color: lightgrey;
   }
