#outer-body {
  display: flex;
  /*justify-content: space-between;*/
}

body {
  display: flex;
  justify-content: space-between;
  /*background-color: lightyellow;*/
  margin: 3px;
  height: 600px;
  width: 1300px;
}

canvas {
  display: block;
  background-image: url('images/back1.png');
  border: 5px solid black;
  height: 600px;
  width: 990px;
  background-size: cover;
  opacity: 0.9;
}

.user-input {
  font-size: 20px;
  height: 100px;
}

.user-input-button {
  width: 40px;
  height: 35px;
}

#image {
  width: 150px;
  height: 150px;
}

.modal {
    display: none;
  }
  .modal.is-active {
    display: block;
  }
  .modal-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
  }
  .modal-content {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 50px;
    margin-left: -250px;
    transform: translateY(-50%);
    background: white;
    border-radius: 5px;
  }
  .modal-close {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: gray;
  }
  .modal-close:hover {
    color: black;
  }

  #yeah-image {
    width: 350px;
    height: 200px;
  }

  #lose-image {
    width: 350px;
    height: 200px;
  }
